	<footer>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup" class="mb2">
            <form action="https://superluminar.us17.list-manage.com/subscribe/post?u=1850848feb35c80ecb5a4a6b8&amp;id=18f1e75edc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="text-align: left">
                <div id="mc_embed_signup_scroll">
                    <label for="mce-EMAIL">Newsletteranmeldung</label>
                    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_1850848feb35c80ecb5a4a6b8_18f1e75edc" tabindex="-1" value=""></div>
                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
            </form>
        </div>

        <!--End mc_embed_signup-->

          <div>&copy; 2017 - {{ now.Year }} {{ .Site.Title }}</div> <div><a href="{{ relref . "impressum.md" }}">Impressum</a> <a href="{{ relref . "agb.md" }}" rel="noindex nofollow">AGB</a> <a href="{{ relref . "datenschutz.md" }}" rel="noindex nofollow">Datenschutz</a></div>
	</footer>
</div>
</body>
</html>
