<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ .Site.Title }} - {{ .Title }}</title>
        {{ with .Description }}<meta name="description" content="{{ . }}">{{ end }}
        {{ with .Description }}<meta name="og:description" content="{{ . }}">{{ end }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
        {{ if .RSSLink -}}<link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}">{{- end }}
        <meta property="og:title" content="{{ .Title }}">
        <meta property="og:type" content="{{ if eq "post" .Type }}article{{ else }}website{{end}}">
        <meta property="og:site_name" content="superluminar GmbH">
        <meta property="og:url" content="{{ .Permalink }}">
        <meta property="og:image" content="{{ .Site.BaseURL}}img/superluminar.png">
        <meta property="twitter:site" content="@superluminario">
        <meta property="twitter:card" content="summary_large_image">
        <meta name="google-site-verification" content="zNhnyHCz4zFMeGXBZPa5J52TRepr5RmnIP2kozPtIUs" />

        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>

</head>
{{ if and ( not ( .Site.IsServer ) ) ( .Site.Params.gaTrackingId ) -}}
<!-- Global Site Tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.gaTrackingId }}"></script>
<script>
var gaProperty = '{{ .Site.Params.gaTrackingId }}';
var disableStr = 'ga-disable-' + gaProperty;
if (document.cookie.indexOf(disableStr + '=true') > -1) {
  window[disableStr] = true;
}
function gaOptout() {
  document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
  window[disableStr] = true;
}
</script>
<script>
  window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());
  gtag('config', '{{ .Site.Params.gaTrackingId }}', {'anonymize_ip':true});
</script>
{{- end }}
<body>

        <header class="max-width-4 mx-auto px2 py2">
                <nav class="clearfix mxn2">
                    <div class="sm-col left">
                      <a class="btn" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL}}img/superluminar.svg" alt="superluminar" width="150px"/></a>
                    </div>
                    <div class="xs-hide right">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                      <a class="btn py2{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} underline{{end}}" href="{{.URL}}">{{ .Name }}</a>
                    {{ end }}
                    </div>
                    <div class="overflow-hidden sm-hide md-hide lg-hide left">
                    {{ $currentPage := . }}
                    {{ range .Site.Menus.main }}
                      <a class="btn py2{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} underline{{end}}" href="{{.URL}}">{{ .Name }}</a>
                    {{ end }}
                    </div>
                </nav>
        </header>
        <div class="max-width-4 mx-auto px2 py2">

       <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website.","dismiss":"Got it!","learnMore":"More info","link":"https://superluminar.io/impressum/","theme":"light-bottom"};
</script>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
<!-- End Cookie Consent plugin -->
