{{ partial "header.html" . }}
	<main>
        <article>
          <header>
            <h1>{{ .Title }}</h1>
          </header>
          {{ .Content }}
        </article>
              {{ range .Data.Pages.GroupByDate "2006" }}
              <h3>{{ .Key }}</h3>
              <ul class="list-reset">
                {{ range .Pages }}
                <li><a href="{{ .Permalink }}" class="btn pl0">{{ .Title }}</a></li>
                {{ end }}
              </ul>
              {{ end }}
	</main>
{{ partial "footer.html" . }}
