{{ partial "header.html" . }}
	<main>
        <article>
          <header>
            <h1>{{ .Title }}</h1>
          </header>
          {{ .Content }}
        </article>
        <ul class="list-reset">
              {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 50 }}
              {{ range $paginator.Pages }}
              <li><span class="bold">{{ .Date.Format "2006-02-01" }}</span> >> <a href="{{ .Permalink }}">{{ .Title }}</a></li>
		{{ range .Params.tags }}
		<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
		{{ end }}
              {{ end }}
              <!-- {{ partial "pagination.html" . }} -->
        </ul>
	</main>
{{ partial "footer.html" . }}
